<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset=UTF-8>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <!-- Awesome Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>

  <div id="myVueElement" class="allPage" v-cloak>
    <div class="leftPanel">
      <div class="selectColumn1">
        <div>
          <button class="accordion" @click="makeAccordion">Make Your Own Table</button>
          <div ref="myPanel" class="panel">
            <div v-for="item of checkData">
              <input type="checkbox" class="input" :id="item.id" :value="item.value" autocomplete="off" v-model="checkSelected">
              <label :for="item.id" class="label">{{ item.text }}</label>
            </div>
          </div>
          <div class="sendDataButton" v-bind:class="{ hide: isHide }">
            <button class="accordion" @click="makeTableAndAccordion" :disabled="checkSelected.length < 1">{{ changeButtonText }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mainTitle">
      <header>
        <div class="topHeader">
          <div class="topHeaderLeft">
            <img src="images/standard.png" alt="Logo" class="logo">
            <h1>TGIF</h1>
          </div>
          <div class="topHeaderRight">
            <img src="images/email_icon_white.png" alt="Contact icon" class="emailIcon">
            <a href="mailto:info@tgif.net">info@tgif.net</a>
          </div>
        </div>
    </div>
    <div class="mainNav">
      <div class="navDiv">
        <nav>
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="index_vue.html">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Congress 115</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="senate_vue.html">Senate</a>
                <a class="dropdown-item" href="houseOfRepresentatives_vue.html">House</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Attendance</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="attendance_senate_vue.html">Senate</a>
                <a class="dropdown-item" href="attendance_house_vue.html">House</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Party Loyalty</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="party_loyalty_senate_vue.html">Senate</a>
                <a class="dropdown-item" href="party_loyalty_house_vue.html">House</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    </header>
    <!--Table container-->
    <div class="introduction">
      <div>
        <h2>Senators</h2>
        <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate
          has
          several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive
          officials,
          military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
      </div>
    </div>
    <div class="mainTable">
      <div class="makeRow" :class="{loader : !isLoaded}">
        <div v-if="isLoaded" class="makeRow select">
          <div class="party">
            <p>Select by Party:</p>
          </div>
          <div class="check">
            <template v-for="item of checkboxData">
              <input type="checkbox" class="input" name="party" :id="item.relatedChekBox" v-model="partySelected" @change="filterAll(MEMBERS)" autocomplete="off" :value="item.value">
              <label :for="item.relatedChekBox" class="label">{{ item.party }}</label>
            </template>
          </div>
        </div>

        <div v-if="isLoaded" class="makeRow state">
          <p>Filter by state:</p>
          <div class="dropdown show">
            <select class="btn btn-secondary" v-model="stateSelected" @change="filterAll(MEMBERS)" ref="state">
              <option value="all">ALL</option>
              <option v-for="state of stateArray" :value="state">{{ state }}</option>
            </select>
          </div>
          <span class="fas fa-sync-alt fa-2x refreshIcon" @click="refresh" :class= "{iconAnimation: animation}"></span>

        </div>
      </div>
      <div v-if="showTable" id="wrap">
        <table id="table1" class="table table-striped table-hover">
          <thead>
            <tr>
              <th v-for="title of tableTitlesMod" @click="sortByColumn($event)">{{ title }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="member of membersList">
              <td v-for="key of tableKeysMod">
                <a v-if="key === 'first_name'" href="#" @click.prevent="openWindow(member.url); return false">{{ joinName(member) }}</a>
                <span v-else-if="key === 'votes_with_party_pct' || key === 'missed_votes_pct'">{{ `${checkNullValue(member[key])}%` }}</span>
                <span v-else>{{ checkNullValue(member[key]) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="noResults" v-if="noResults">No results</h3>
      </div>
    </div>
    <footer class="footer">
      <div>
        <p>© 2019 TGIF | All Rights Reserved</p>
      </div>
    </footer>
  </div>

  <script src="scripts/vue.js"></script>
  <script src="dataFiles/115_senate.js"></script>
  <script src="scripts/main_vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
